.notched-outline {
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: left;
  pointer-events: none;

  &__leading {
    width: 12px;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
  }

  &__notch {
    flex: 0 0 auto;
    width: auto;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
  }

  &__trailing {
    flex-grow: 1;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
  }
}

.notched-outline {
  &__leading {
    border-top: var(--tf-border-width-inactive) solid;
    border-right: none;
    border-bottom: var(--tf-border-width-inactive) solid;
    border-left: var(--tf-border-width-inactive) solid;
    border-radius: var(--tf-border-radius) 0 0 var(--tf-border-radius);
    border-color: var(--tf-c-border);
    transition: border-color 225ms var(--tf-transition-easing);
  }

  &__notch {
    border-top: var(--tf-border-width-inactive) solid;
    border-bottom: var(--tf-border-width-inactive) solid;
    border-color: var(--tf-c-border);
    transition: border-color 225ms var(--tf-transition-easing);

    .input--focused &,
    .input--filled &,
    .textarea--focused &,
    .textarea--filled & {
      border-top: none;
      align-items: flex-start;
    }
  }

  &__trailing {
    border-top: var(--tf-border-width-inactive) solid;
    border-right: var(--tf-border-width-inactive) solid;
    border-bottom: var(--tf-border-width-inactive) solid;
    border-left: none;
    border-radius: 0 var(--tf-border-radius) var(--tf-border-radius) 0;
    border-color: var(--tf-c-border);
    transition: border-color 225ms var(--tf-transition-easing);
  }

  .input--focused &__leading,
  .input--focused &__notch,
  .input--focused &__trailing,
  .input--filled &__leading,
  .input--filled &__notch,
  .input--filled &__trailing,
  .textarea--focused &__leading,
  .textarea--focused &__notch,
  .textarea--focused &__trailing,
  .textarea--filled &__leading,
  .textarea--filled &__notch,
  .textarea--filled &__trailing {
    border-width: var(--tf-border-width-active);
  }
}

.select-option {
  --so-width-outline: 1px;

  &--labeled {
    .notched-outline {
      display: grid;
      grid-template: 1fr / 12px auto 1fr;
      gap: 0;
      margin: auto;
      inset: 0;

      &__leading {
        box-shadow:
          inset 0 var(--so-width-outline) 0 0 var(--so-color-outline, DarkGray),
          inset var(--so-width-outline) 0 0 0 var(--so-color-outline, DarkGray),
          inset 0 calc(var(--so-width-outline) * -1) 0 0 var(--so-color-outline, DarkGray);
        border-radius: var(--so-border-radius-select, 5.5px) 0 0 var(--so-border-radius-select, 5.5px);
        transform: translate3d(0, 0, 0);
      }

      &__notch {
        box-shadow:
          inset 0 var(--so-width-outline) 0 0 var(--so-color-outline, DarkGray),
          inset 0 calc(var(--so-width-outline) * -1) 0 0 var(--so-color-outline, DarkGray);
      }

      &__trailing {
        box-shadow:
          inset 0 var(--so-width-outline) 0 0 var(--so-color-outline, DarkGray),
          inset calc(var(--so-width-outline) * -1) 0 0 0 var(--so-color-outline, DarkGray),
          inset 0 calc(var(--so-width-outline) * -1) 0 0 var(--so-color-outline, DarkGray);
        border-radius: 0 var(--so-border-radius-select, 5.5px) var(--so-border-radius-select, 5.5px) 0;
        transform: translate3d(0, 0, 0);
      }
    }

    &.select-option--opened .notched-outline__notch,
    &.select-option--selected .notched-outline__notch {
      box-shadow: inset 0 calc(var(--so-width-outline) * -1) 0 0 var(--so-color-outline, DarkGray);
    }
  }

  &--unlabeled {
    box-shadow: inset 0 0 0 var(--so-width-outline) var(--so-color-outline, DarkGray);
    border-radius: var(--so-border-radius-select, 5.5px);
    transform: translate3d(0, 0, 0);
  }

  &:not(&--opened):hover {
    --so-color-outline: var(--so-color-outline-hover, SlateGrey);

    &.select-option--mobile {
      --so-color-outline: var(--so-color-outline-opened, DodgerBlue);
      --so-width-outline: 2px;
    }
  }

  &--opened {
    --so-color-outline: var(--so-color-outline-opened, DodgerBlue);
    --so-width-outline: 2px;
  }
}
