.field-container {
	// Colors (используем единые переменные)
	--tf-c-text-field: var(--form-color-text);
	--tf-c-text-helper: var(--form-color-text-helper);
	--tf-c-inactive: var(--form-color-inactive);
	--tf-c-focused: var(--form-color-focused);
	--tf-c-activated: var(--form-color-activated);
	--tf-c-hover: var(--form-color-hover);
	--tf-c-error: var(--form-color-error);
	--tf-c-disabled: var(--form-color-disabled);
	--tf-c-placeholder: var(--form-color-placeholder);
	--tf-c-border: var(--form-color-border);

	// Font
	--tf-font-size-field: 16px;
	--tf-font-size-helper: 12px;
	--tf-font-weight: 400;
	--tf-letter-spacing: .009375em;
	--tf-input-line-height: 23px;
	--tf-textarea-line-height: 24px;

	// Border
	--tf-border-width-inactive: 1px;
	--tf-border-width-active: 2px;
	--tf-border-radius: 6px;

	// Transition
	--tf-transition-easing: cubic-bezier(0, 0.202, 0.204, 1);
}
